<!DOCTYPE html>
<html>
<head>
    <title>Credit Card Table</title>
</head>
<body>

<h2>Credit Card Table</h2>

<table border="1">
    <tr>
        <th>Card ID</th>
        <th>User ID</th>
        <th>Card Number</th>
        <th>Card Type</th>
        <th>Expiry Date</th>
    </tr>

    {% for row in card %}
    <tr>
        <td>{{ row.card_id }}</td>
        <td>{{ row.user_id }}</td>
        <td>{{ row.card_number }}</td>
        <td>{{ row.card_type }}</td>
        <td>{{ row.expiry_date }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>