<!DOCTYPE html>
<html>
<head>
    <title>Edit Merchant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Edit Merchant</h2>

<form method="POST">

    <label>Merchant ID:</label>
    <input type="number" name="merchant_id" value="{{ merchant.merchant_id }}" readonly>

    <label>Category:</label>
    <input type="text" name="category" value="{{ merchant.category }}" required>

    <label>Location:</label>
    <input type="text" name="location" value="{{ merchant.location }}" required>

    <button type="submit">Update</button>

</form>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>