<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <h1>Transaction Details</h1>
    <body>

    <h1>Transaction Details</h1>

    <table border="1">
        <tr>
            <th>Transaction ID</th>
            <th>Time</th>
            <th>Amount</th>
            <th>V1</th>
            <th>V2</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>1001</td>
            <td>12:05 PM</td>
            <td>2500</td>
            <td>0.45</td>
            <td>-1.23</td>
            <td>Legitimate</td>
        </tr>

        <tr>
            <td>1002</td>
            <td>01:15 PM</td>
            <td>9800</td>
            <td>-2.11</td>
            <td>3.45</td>
            <td>Fraud</td>
        </tr>

        <tr>
            <td>1003</td>
            <td>02:30 PM</td>
            <td>1200</td>
            <td>1.23</td>
            <td>0.78</td>
            <td>Legitimate</td>
        </tr>

    </table>

    <br><br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</body>
</body>
</html>